%form{:action => "#{request.url}", :method => "post", :id=>"yanc", :onSubmit=>"return false;", :class=>"form"}
  %p 
  %label= t.input.aquarium
  %input{:type => "text", :name => "tank_vol", :length => 4, :size => 4}
  %input{:type => "radio", :name => "tank_units", :value=> "gal"}
  =t.units.us_gal
  %input{:type => "radio", :name => "tank_units", :value=> "L"}
  =t.units.Liter
  %p
  %label= t.input.source.text
  %input{:type => "radio", :name => "source", :value=> "diy", :onClick => "document.getElementById('diy').style.display='block';document.getElementById('premix').style.display='none';"}
  =t.input.source.diy
  %input{:type => "radio", :name => "source", :value=> "premix", :onClick => "document.getElementById('diy').style.display='none';document.getElementById('premix').style.display='block';"}
  =t.input.source.commercial
  =t.input.source.label
  %p
  #diy{:style => 'display:none'}
    %label= t.input.diy.text
    <select name="compound">
    - COMPOUNDS.keys.sort.each do |c|
      - if ( c =~ /KNO3/ )
        %option{:value=>"#{c}", :selected=>'selected'} #{c}
      -else
        %option{:value=>"#{c}"} #{c}
    </select>
    %p 
    %label= t.input.diy.method_text
    %input{:type => "radio", :name=> "method", :value=> "solution", :onClick => "document.getElementById('solution').style.display='block';"}
    =t.input.diy.solution
    %input{:type => "radio", :name=> "method", :value=> "dry", :onClick => "document.getElementById('solution').style.display='none';"}
    =t.input.diy.dry
    %br
    #solution{:style => 'display:none'}
      %label= t.input.solution.text
      %input{:type => "int", :name=> "sol_volume", :length => 4, :size => 4, :value => 500, :title => t.input.solution.tooltip}
      = t.units.milliliter
      %br
      %label= t.input.solution.dose
      %input{:type => "int", :name=> "sol_dose", :length => 4, :size => 4, :value => 5, :title => t.input.solution.tooltip}
      = t.units.milliliter
    %br
    %label= t.input.dosing_method.text
    %select{:name=> "calc_for", :id=> "calc_for1", :onChange=>"showDiv(this.value);"}
      %option{:value=> "target"}= t.input.dosing_method.target
      %option{:value=> "dump"}= t.input.dosing_method.dose
      %option{:value=> "ei", :selected=> "selected"}= t.input.dosing_method.ei
      %option{:value=> "ei_daily"}= t.input.dosing_method.ei_daily
      %option{:value=> "ei_low"}= t.input.dosing_method.ei_low
      %option{:value=> "pps"}= t.input.dosing_method.pps
      %option{:value=> "pmdd"}= t.input.dosing_method.pmdd
    #dump{:style => 'display:none'}
      %label= t.input.dose.text
      %input{:type => "int", :name=> "dose_amount", :length => 6, :size => 6, :title => t.input.dose.tooltip}
      %input{:type => "radio", :name=> "dose_units", :value=> "mg"}
      =t.units.milligrams
      %input{:type => "radio", :name=> "dose_units", :value=> "g"}
      =t.units.grams
      %input{:type => "radio", :name=> "dose_units", :value=> "tsp"}
      =t.units.five_milliliter
    #target{:style => 'display:none'}
      %label= t.input.target
      %input{:type => "int", :name=> "target_amount", :length => 2, :size => 4} 
      =t.units.ppm
  #premix{:style => 'display:none'}
    %label= t.input.diy.text
    <select name="premix">
    - COMMERCIAL.keys.sort.each do |c|
      %option{:value=>"#{c}"} #{c}
    </select>
    %p
    %label= t.input.dosing_method.text
    %select{:name=> "premix_calc_for", :id=> "premix_calc_for", :onChange=>"showDiv(this.value);"}
      %option{:value=> "premix_target"}= t.input.dosing_method.target
      %option{:value=> "premix_dump"}= t.input.dosing_method.dose
      %option{:value=> "ei", :selected=> "selected"}= t.input.dosing_method.ei
      %option{:value=> "ei_daily"}= t.input.dosing_method.ei_daily
      %option{:value=> "ei_low"}= t.input.dosing_method.ei_low
      %option{:value=> "pps"}= t.input.dosing_method.pps
      %option{:value=> "pmdd"}= t.input.dosing_method.pmdd
    #premix_dump{:style => 'display:none'}
      %label= t.input.dose.text
      %input{:type => "int", :name=> "premix_dose_amount", :length => 6, :size => 6, :title => t.input.dose.tooltip}
      %input{:type => "radio", :name=> "premix_dose_units", :value=> "mL"}
      = t.units.milliliter
      %input{:type => "radio", :name=> "premix_dose_units", :value=> "caps"}
      = t.units.five_milliliter
      %input{:type => "radio", :name=> "premix_dose_units", :value=> "pumps"}
      = t.units.pump_bottle
    #premix_target{:style => 'display:none'}
      %label= t.input.target
      %input{:type => "int", :name=> "premix_target_amount", :length => 2, :size => 4}
      = t.units.ppm
  %p
  %center
    %input{:type => "submit", :value => t.misc.submit_button, :id => "ask", :onclick=> "_gaq.push(['_trackPageview', '/yanc_submit'])"}
  %p
  %p
