<div>
%center
  - if @sol_vol > 0
    #{t.output.dose_solution(@dose_amount.to_s + " " + @dose_units + " " + @comp, @sol_vol.to_s + " " + t.units.milliliter, @sol_dose.to_s + " " + t.units.milliliter, @tank_vol_orig.to_s + " " + @tank_units)}
  - else
    #{t.output.dose(@dose_amount.to_s + " " + @dose_units + " " + @comp, @tank_vol_orig.to_s + " " + @tank_units)} 
  %table{:width=> "330px"}
    %tr
      %th= t.units.element
      %th #{t.units.ppm}/#{t.units.degree}
    - @results.sort.each do |result,result_value|
      %tr
        %td{:align=> "center"} #{result}
        %td{:align=> "center"} #{result_value}
%br <center><font color="red">#{@toxic} #{@sol_error}</font></center>
%br <center> #{@method_instruct} </center>
%br
<div style="position: relative; float:top; height: 75px; center">
<center>
= t.chart.text(@element + " " + t.units.ppm)
<font color="purple">#{t.chart.pmdd}</font>, <font color="green">#{t.chart.walstad}</font>, <font color="orange">#{t.chart.pps}</font>,
<font color="blue">#{t.chart.ei}</font>, <font color="red">#{t.chart.user}</font>:
</center>
</div>
<div style="position: relative; float:left; width: 330px; height: 15px; center;">
</div>
<div style="position: relative; float:top; width: 330px; height: 35px; margin: 0px auto;">
<div style="position: absolute; top:1px; left: 15px; width:300px;">
<div style="position: absolute; top:7px; left: 0; width:300px;">
</div>
<div style="position: absolute; top:4px; left: #{METHODS[@element]['EI']['low']}px; width:  #{METHODS[@element]['EI']['margin']}px; height: 20px; background-color: blue; fiter:alpha(opacity=50); opacity:.5; center">
</div>
<div style="position: absolute; top:7px; left:  #{METHODS[@element]['PPS']['low']}px; width: #{METHODS[@element]['PPS']['margin']}px; height: 14px; background-color: orange; fiter:alpha(opacity=50); opacity:.5; center">
</div>
<div style="position: absolute; top:2px; left:  #{METHODS[@element]['Walstad']['low']}px; width: #{METHODS[@element]['Walstad']['margin']}px; height: 24px; background-color: green; fiter:alpha(opacity=50); opacity:.5; center">
</div>
<div style="position: absolute; top:5px; left:  #{METHODS[@element]['PMDD']['low']}px; width: #{METHODS[@element]['PMDD']['margin']}px; height: 18px; background-color: purple; fiter:alpha(opacity=50); opacity:.5; center">
</div>
<div style="position: absolute; top:1px; left:  #{@results_pixel}px; width: 4px; height: 26px; background-color: red; fiter:alpha(opacity=1); -moz-opacity:1; center">
</div>
</div>
</div>
<div style="position: relative; float:top; width: 330px; height: 50px; margin: 0px auto;">
<div style="position:relative; float:left; left: 10px; height 15px">
0
</div>
<div style="position:absolute; top:20; left: #{@results_pixel - 2}px; height 30px; width 100px">
<center><font color="red">#{@results[@element]}</font></center>
</div>
<div style="position:absolute; top:0px; right:10px; height 15px">
#{@pixel_max} #{t.units.ppm}
</div>
</div>
%p
  %center
    %strong
      #{t.chart.long_term_chart(@element, '<a href="http://rota.la/ei/?stuff=' + @element + ';dose=' + @results[@element].to_s+ '">')}
</a>
</div>

%script(type="text/javascript")
  $(document).ready( function() {
  var eiform = {
  stuff: "#{@element}",
  dose: "#{@results[@element]}",
  dose_freq: "#{@dose_freq}",
  pwc: "#{@pwc}",
  pwc_freq: "#{@pwc_freq}",
  length: "month",
  graphstyle: "fancy",
  }
  var data = $.param(eiform);
  $.post("http://rota.la/ei/?" + data, function(result) {
  $("#fancy").empty().append(result);
  return false;
  });
  });
