%html
  %head
    %title #{t.misc.calc}
    %script(type="text/javascript" src="http://cdn.petalphile.com/javascript/jquery-1.4.4.min.js")
    %script(type="text/javascript" src="http://cdn.petalphile.com/javascript/jquery.form.js")
    %script(type="text/javascript" src="http://cdn.petalphile.com/js/waypoints.min.js")
    %script(type="text/javascript" src="http://cdn.petalphile.com/js/highcharts.js")
    %link(rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css" type="text/css")
    %link(rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css")

    %meta{'name'=>"keywords", 'http-equiv'=>"keywords", 'content'=>"planted, aquarium, fertilizer, ferts, calculator, KNO3, K2HPO4, KH2PO4, K3PO4, KCl, K2SO4, CaCl2.2H2O, CaSO4.1/2H2O, CaSO4.2H2O, CaMg(CO3)2, Ca(NO3)2.4H2O, 5Ca(NO3)2.NH4NO3.10H2O, MgSO4.7H2O, PlantedTanksUK Trace, Plantex CSM+B, Millers MicroPlex, Dutch Nutrient Formula, Rexolin APN, Rexolin BRA, Fe Gluconate, DTPA Fe (11%), DTPA Fe (10%), EDTA Fe, EDDHA Fe (6%), MnSO4.H2O, CO2, fish, plants, diy, horticulture, aquaculture, aquascaping, estimative index, pps-pro, perpetual preservation system, pmdd, ei, copper, cu, toxic, toxicity, shrimp"}
    %meta{'name'=>"description", 'http-equiv'=>"description", 'content'=>"Calculators for all aspects of planted aquariums, including DIY fertilizers, dosing for every major method, CO2, and pictures."}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="google-site-verification" content="mRmJs36lfQgLiQL09slVLG65uD4PFIMTcxUXog8q1r4")
    //%script{'src'=>"http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"}
    %script(type="text/javascript" src="http://cdn.petalphile.com/js/toggle_input_fields.js")
    %script(type="text/javascript" src="http://cdn.petalphile.com/js/ga.js")
    %script(type="text/javascript" src="http://calc.petalphile.com/js/ajax.js")
       
  %body
    .container-fluid
      .row-fluid
        .span2
          #title
            %h2= t.misc.calc
          #translations
            %ul
              %li
                %a(href="/de/")Deutsch
              %li
                %a(href="/en/")English
              %li
                %a(href="/es/")Español
              %li
                %a(href="/ja/")日本語
              %li
                %a(href="/it/")Italiano
              %li
                %a(href="/lt/")Lietuvių kalba
              %li
                %a(href="/nl/")Nederlands
              %li
                %a(href="/pl/")Polski
              %li
                %a(href="/pt-br/")Português do Brasil
              %li
                %a(href="/ro/")Română
              %li
                %a(href="/contribute_translation")= t.misc.contribute
          #menu
            %ul
              %li
                %a(href="#{request.url}")= t.misc.restart
              %li
                %a(href="/mobile")= t.misc.mobile_link
              %li
                %a(href="http://tinycalc.petalphile.com")tinycalc
              %li
                %a(href="http://petalphile.com")petalphile.com
        .span10
          #calc
            #yield
              =yield
            #result
          #fancy
    %script
      $(document).ready(function() {
      $('#container').waypoint(function(event, direction) {
      $('yield').toggleClass('sticky', direction === "down");
      });
      $('#fancy').waypoint(function(event, direction) {
      $(this).parent().toggleClass('sticky', direction === "down");
      $('yield').toggleClass('bumpit', direction === "down");
      event.stopPropagation();
      });});
    %noscript= t.misc.noscript
