%p
<div style="position: relative; float:top; width: 330px; height: relative; center">
<center>#{t.output.target(@target_amount.to_s + t.units.ppm, @dose_amount.to_s + @dose_units, @comp)} 
- if @sol_vol > 0
  #{@sol_vol} mL #{t.output.target_solution("#{@sol_dose}#{t.units.milliliter} ")}
#{@tank_vol_orig}#{@tank_units} #{t.output.target_end}</center><br/>
%table{:width => 330}
  %tr
    %th= t.units.element
    %th #{t.units.ppm}/#{t.units.degree}
  - @results.sort.each do |result,result_value|
    %tr
      %td{:align=> "center"} #{result}
      %td{:align=> "center"} #{result_value}
%br <center><font color="red">#{@toxic} #{@sol_error}</font></center>
%br <center> #{@method_instruct} </center>
%br
</div>
<div style="position: relative; float:top; width: 330px; height: 75px; center">
<center>
= t.chart.text(@element + " " + t.units.ppm) 
<font color="purple">#{t.chart.pmdd}</font>, <font color="green">#{t.chart.walstad}</font>, <font color="orange">#{t.chart.pps}</font>,
<font color="blue">#{t.chart.ei}</font>, <font color="red">#{t.chart.user}</font>:
</center>
</div>
<div style="position: relative; float:top; width: 330px; height: 15px; center">
<center>#{@element} ppm</center>
</div>
<div style="position: relative; float:top; width: 330px; height: 35px;">
<div style="position: absolute; top:1px; left: 15px; width:300px;">
<div style="position: absolute; top:7px; left: 0; width:300px;">
<hr width=100%>
</div>
<div style="position: absolute; top:4px; left: #{METHODS[@element]['EI']['low']}px; width:  #{METHODS[@element]['EI']['margin']}px; height: 20px; background-color: blue; fiter:alpha(opacity=50); opacity:.5; center">
</div>
<div style="position: absolute; top:7px; left:  #{METHODS[@element]['PPS']['low']}px; width: #{METHODS[@element]['PPS']['margin']}px; height: 14px; background-color: orange; fiter:alpha(opacity=50); opacity:.5; center">
</div>
<div style="position: absolute; top:2px; left:  #{METHODS[@element]['Walstad']['low']}px; width: #{METHODS[@element]['Walstad']['margin']}px; height: 24px; background-color: green; fiter:alpha(opacity=50); opacity:.5; center">
</div>
<div style="position: absolute; top:5px; left:  #{METHODS[@element]['PMDD']['low']}px; width: #{METHODS[@element]['PMDD']['margin']}px; height: 18px; background-color: purple; fiter:alpha(opacity=50); opacity:.5; center">
</div>
<div style="position: absolute; top:1px; left:  #{@results_pixel}px; width: 4px; height: 26px; background-color: red; fiter:alpha(opacity=1); -moz-opacity:1; center">
</div>
</div>
</div>
<div style="position: relative; float:top; width: 330px; height: 50px">
<div style="position:relative; float:left; left: 10px; height 15px">
0
</div>
<div style="position:absolute; top:20; left: #{@results_pixel - 2}px; height 30px; width 100px">
<center><font color="red">#{@results[@element]}</font></center>
</div>
<div style="position:absolute; top:0px; right:10px; height 15px">
#{@pixel_max} #{t.units.ppm}
</div>
</div>
<div style="float:top; width: 330px; height: 100px;">
%form{:action => request.url, :method => "get", :id=>"yanc"}
  %input{:type=> "submit", :value=> t.misc.restart, :id=>"results"}
%br
%br
#{t.chart.long_term_chart(@element, '<a href="http://ei.petalphile.com/?stuff=' + @element + ';dose=' + @target_amount.to_s+ '">')}
</a>
</div>
%p
%p
